<h1>Todo list</h1>

<input #todo type="text" > <button (click)="cadastrar(todo.value); todo.value = '';">Cadastrar</button>

<ul>
  <li *ngFor="let todo of todoservice.todos">
    {{todo.$value}}
  </li>
</ul>